# Browser Configuration (for scraping and applying changes)
BROWSER_EXE=C:/Program Files/Google/Chrome/Application/chrome.exe
BROWSER_USER_DATA=C:/Users/mehmet/AppData/Local/Google/Chrome/User Data
DEBUG_PORT=9333

# Pinterest API (optional - only needed for pinterest_auth.js / pinterest_post.js)
PINTEREST_APP_ID=1552693
PINTEREST_APP_SECRET=a1d06e31ac3907224170225eed0e68d23116f420

# Pinterest Board (optional - for pinterest_board.js)
PINTEREST_BOARD_NAME=WedInkStore
PINTEREST_BOARD_DESCRIPTION=Ornament_Book_Vinly_ToteBag
